    <% provide(:title, 'About') %>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><%= link_to 'Home', root_path %>
                    </li>
                    <li class="active"><i class="fa fa-info-circle"></i> About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
              <%= image_tag 'smartups', :class => 'img-responsive' %>
            </div>
            <div class="col-md-6">
                <h2>What is Smartups?</h2>
                <p>Smartups is a web platform where people can find collaborators to team up with on new exciting ventures.</p>
                <p>The inspiration was clear: many individuals nowadays have great ideas in mind that could turn into long-term projects or even profitable businesses. However, it is quite common that they face difficulties in finding the right partners in order for their dreams to come true. </p>
                <p>We are developing a platform that is simple, straightforward and easy-to-use by people from all backgrounds. It is our belief that we are going to pioneer the way startuppers are connected to each other. </p>
				<p>Sign-up for our <%= link_to 'newsletter', new_newsletter_path %> to get updated about our progress.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <%= image_tag 'giannis', :class => 'img-responsive' %>
                    <div class="caption">
                        <h3>Giannis Konstantinidis<br>
                            <small>Project Lead</small>
                        </h3>
                        <p>Making sure the project guidelines are met and that everything goes smoothly.</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/giannisk95"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="https://gr.linkedin.com/in/giannisk"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://twitter.com/gianniskon"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                            <li><a href="mailto:giannis@smartups.io"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <%= image_tag 'christos', :class => 'img-responsive' %>
                    <div class="caption">
                        <h3>Christos Sotirelis<br>
                            <small>Technical Lead</small>
                        </h3>
                        <p>The man running point on the platform and the one to blame when something doesn't work.</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/sotirelisc"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="https://gr.linkedin.com/in/sotirelisc"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://twitter.com/sotirelisc"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                            <li><a href="mailto:christos@smartups.io"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <%= image_tag 'zacharias', :class => 'img-responsive' %>
                    <div class="caption">
                        <h3>Zacharias Mitzelos<br>
                            <small>Backend Developer</small>
                        </h3>
                        <p>Responsible for pretty much everything running behind the scenes.</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/zacharias.mitzelos"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="https://gr.linkedin.com/in/zmitzelos"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://twitter.com/zmitzie"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                            <li><a href="mailto:zacharias@smartups.io"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <%= image_tag 'aristotelis', :class => 'img-responsive' %>
                    <div class="caption">
                        <h3>Aristotelis Kalpakidis<br>
                            <small>Designer</small>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                        <ul class="list-inline">
                            <li><a href="mailto:aristotelis@smartups.io"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <%= image_tag 'thiscouldbeyou', :class => 'img-responsive' %>
                    <div class="caption">
                        <h3>This Could Be You<br>
                            <small>You Tell Us</small>
                        </h3>
                        <p>Do you have what it takes to be part of this team? We would love to hear from you.</p>
                        <ul class="list-inline">
                            <li><a href="mailto:contact@smartups.io"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- As Seen On -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">As Seen On</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <%= image_tag 'ert1', :class => 'img-responsive customer-img' %>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <%= image_tag 'aegeanstartups', :class => 'img-responsive customer-img' %>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <%= image_tag 'foititikanea', :class => 'img-responsive customer-img' %>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <%= image_tag 'neolaiagr', :class => 'img-responsive customer-img' %>
            </div>
        </div>
        <!-- /.row -->