<div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron jumbo-spacer">
            <h1>Welcome to <span class="smartups-logo-bg">smartups</span>.</h1>
            <p>Our mission is to amplify the way startuppers and doers are connected. Whether you are looking for business partners, or ways to scale up your venture, we have the right resources for you.</p>
						<p>As we are coming close to our initial launch, make sure to sign up for our newsletter and keep youself updated. It only takes a minute.</p>

            <%= link_to new_newsletter_path, :class => 'btn btn-primary btn-lg' do %>
               Sign up for our newsletter
            <% end %>
                  
                  
        </header>

        <!-- How It Works Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">How It Works</h2>
            </div>
            <div class="col-md-4 col-sm-6">
              <%= image_tag '01sign-up', :class => 'img-responsive img-portfolio img-hover' %>
            </div>
            <div class="col-md-4 col-sm-6">
              <%= image_tag '02confirm-email', :class => 'img-responsive img-portfolio img-hover' %>
            </div>
            <div class="col-md-4 col-sm-6">
              <%= image_tag '03user-profile', :class => 'img-responsive img-portfolio img-hover' %>
            </div>
            <div class="col-md-4 col-sm-6">
              <%= image_tag '04create-smartup', :class => 'img-responsive img-portfolio img-hover' %>
            </div>
            <div class="col-md-4 col-sm-6">
              <%= image_tag '05join-smartup', :class => 'img-responsive img-portfolio img-hover' %>
            </div>
            <div class="col-md-4 col-sm-6">
              <%= image_tag '06collaborate', :class => 'img-responsive img-portfolio img-hover' %>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">What To Expect</h2>
            </div>
            <div class="col-md-6">
                <p>We have set out to develop a state of the art, fully responsive, yet simple-to-use web platform for you to take advantage of.</p>
								<p>Here is what you can expect from our very first pre-alpha release:</p>
                <ul>
                    <li>Cross-Device Web Platform.</li>
                    <li>User Profiles w/ Short CV.</li>
                    <li>Evaluate Your Idea.</li>
                    <li>Register Your Smartup.</li>
                    <li>Join Existing Ones.</li>
                </ul>
								<p>Here is what functionality you can expect in the near future:</p>
                <ul>
                    <li>Integrate Social Media Accounts.</li>
                    <li>Find Business Mentors.</li>
                    <li>Locate Incubators.</li>
                    <li>Get Funded.</li>
                    <li>Plus Many More.</li>
                </ul>
                <p>Our team is making some huge progress day by day.</p>
            </div>
            <div class="col-md-6">
	          		<div class="thumbnail">
               			<%= image_tag 'code', :class => 'img-responsive' %>
								</div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>The development process of Smartups is still ongoing. Subscribe to our newsletter and keep yourself updated with the latest news around our project. Remember: it takes only a minute.</p>
                </div>
                <div class="col-md-4">
                  <%= link_to new_newsletter_path, :class => 'btn btn-lg btn-default btn-block' do %>
                    <i class="fa fa-fw fa-paper-plane"></i> Newsletter
                  <% end %>
                </div>
            </div>
        </div>